
.container{
    /* max-width: 100%; */
    max-width: 1088px;
    margin: 0 auto;
    border: 1px solid pinks;
background-color: yellow;


}
.role4 ul{
    display: flex;
    justify-content: space-around;
    gap:16px; 
  
}

/* .role4 ul li img{
    width:25%
   
} */
.role4 img{
    
    width: 100%;

    /* position: relative;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%; */
}
.role-item{
    
     width: 25%;
    height: 25%; 
    text-align: center;
    
    
}
.role-title{
    font-size: 32px;
    font-family: Noto Sans TC;
    font-weight:800;
    text-align: center;
   }
   
   .role-p{
       font-size: 20px;
       font-family: Noto Sans TC;
       text-align: center;
       padding-top: 10px;
       padding-bottom: 10px;
       font-weight:580;
   }
   .role-item h2{
       color:#56C4C5;
       padding-top: 10px;
       padding-left:16px;
       padding-right:16px;
   
   }
   .role-item p{
       color:#221E1F;
       padding-top: 10px;
       padding-bottom: 10px;
       padding-left:16px;
       padding-right:16px;
   }