
.container{
    /* max-width: 100%; */
    max-width: 1088px;
    margin: 0 auto;
    border: 1px solid pinks;
/* background-color: yellow; */
}

.main h2{
    padding-top:16px;
 font-size: 32px;
 text-align: center;
 font-weight: Bold;
}
.main p{
    padding-top:16px;
    font-size: 20px;
    text-align: center;

   }
   .role4 ul{
    
    display: flex;
    gap:8px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;;
   }
   .role-item{
    width: 25%;
    
    
   }
  
   
   .role-item img{
    width:100%;
    border-radius: 10px;
   }
   .role-item h3{
       position: relative;
       color:#56C4C5;
       text-align: center;
       padding-top: 8px;
       padding-bottom: 8px;
       font-weight: Bold;


   }
   .role-item h4{
    position: relative;
    color:#221E1F;
    text-align: center;
    padding-left: 16px;
    padding-left: 16px;
    line-height: 20px;
    padding-bottom: 16px;

}