
.container{
    
    max-width: 940px;
    margin: 0 auto;
    margin-top: 36px;
    border: 1px solid rgb(0, 255, 76);
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: space-between;
}
.top img{
    width: 25%;
}
.shopcart img{
    
    width: 24px;
    height: 24px;
    }
  
.top-right ul{
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    gap:60px;
   
    
    
}
.top-right a{
    text-decoration: none;
}
.top-right {
    position: relative;
    display: flex;
    gap:79px;
    padding-top: 10px;
}
.hero-banner{
    position: relative;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-image: url("https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/IMG/mission1/student-week1/banner.png");
    width: 100%;
    padding-bottom: 440px;
    
}

.category{

    position: relative;
    margin-top: 60px;
    
    /* width: 50%; */
    text-align: center;
    font-size: 24px;
    color: #EAF0ED;
    background-color: #3F5D45;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;

}
.menu{
    position: relative;
    width: 30%;
}
.menu-item{
    position: relative;
    font-family: PingFang TC;
    font-weight: bold;
    /* width: 50%; */
    text-align: center;
    font-size: 24px;
    color: #3F5D45;
    background-color: #EAF0ED;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-list ul{
    position: relative;
    padding-top: 60px;
    display:flex;
    justify-content:space-between   ;
    flex-wrap: wrap;
    /* width: 100%; */
    width: 620px;
}
.product-item1{

    position: relative;
    width: 100%;
    height: 306px;
    background-image:url("https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/IMG/mission1/student-week1/p-1.png") ;
    
}
.item{
    position: relative;
    width: 48%;

}  
.heart{
    z-index: 1;
    position: absolute;
    top: 16px;
    right:15px;

}
.speChoice span{
    z-index: 1;
    position: absolute;
    /* left:0px; */
    background-color: #3F5D45;
    padding:10px;
    color: #EAF0ED;
    writing-mode:vertical-lr;
    left:16px;
}
.product-item2{

    position: relative;
    width: 100%;
    height: 306px;
    background-image:url("https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/IMG/mission1/student-week1/p-2.png") ;
}
 
.product-item3{

    position: relative;
    width: 100%;
    height: 306px;
    background-image:url("https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/IMG/mission1/student-week1/p-3.png") ;
}
.product-item4{

    position: relative;
    width: 100%;
    height: 306px;
    background-image:url("https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/IMG/mission1/student-week1/p-4.png") ;
}
.product-item5{

    position: relative;
    width: 100%;
    height: 306px;
    background-image:url("https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/IMG/mission1/student-week1/p-5.png") ;
}
.product-item6{

    position: relative;
    width: 100%;
    height: 306px;
    background-image:url("https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/IMG/mission1/student-week1/p-6.png") ;
}



.product-name{
    position: relative;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    border: 0.5px solid #EAF0ED;
    padding-right: -5px;
}
.product-name .name{
    /*lack of line between name and price*/
    position: relative;
    font-size: 16px;
    color: #3F5D45;
}
.product-name .price{
    position: relative;
    /* border: 0.5px solid #EAF0ED; */
}
.addToCart{
    position: relative;
    background-color: #EAF0ED;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  
}
.addToCart a{
    text-decoration: none;
    color:#3F5D45;
    font-size: 20px;
    font-weight: bold;
    
}
.pg-frame{
    position: relative;
    display: flex;
    justify-content: end;

}
.pg-number{
    position: relative;
    /* display: flex;
    justify-content: center;
    text-align:center;
     */
    
}
.pg-number .p1{
    box-sizing: border-box;
    position: relative;
    width: 60px;
    height: 60px;
    
    background-color: #3F5D45;
    padding-top :16px;
}
.pg-number .p1 a{
    text-decoration: none;
    color: #EAF0ED;
    display: flex;
    flex-direction: column;
    text-align: center;

    
    /* display: flex;
    justify-content: center;
    text-align:center; */
}
.pg-number .p2{
    box-sizing: border-box;
    position: relative;
    width: 60px;
    height: 60px;
    
    background-color: #EAF0ED;
    padding-top :16px;
}
.pg-number .p2 a{
    text-decoration: none;
    color: #3F5D45;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.pg-number .p3{
    box-sizing: border-box;
    position: relative;
    width: 60px;
    height: 60px;
    
    background-color: #EAF0ED;
    padding-top :16px;
}
.pg-number .p3 a{
    text-decoration: none;
    color: #3F5D45;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.img1 {

    position: relative;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: right;
  
    
}
.img1 a{
    position: relative;
    width:60px;
    height: 60px;
}
.img1 img{
    position: absolute;
    top:16px;
    left:16px;
    
}

/* .img2 img{
    position: relative;
    width: 100%;
    height: 60px;
} */

.img2 {

    position: relative;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: right;
  
    
}
.img2 a{
    position: relative;
    width:60px;
    height: 60px;
}
.img2 img{
    position: absolute;
    top:16px;
    left:16px;
    
}