/* * {
    outline: 1px solid blue;
  } */

.container{
    /* max-width: 100%; */
    max-width: 1088px;
    margin: 0 auto;
    border: 1px solid red;
    /* padding: 15px; */
    /* margin-left:140px;
    margin-right:140px; */

    /* padding: 15px 50px;
     */


}
.planlogo{
    margin: 20px 0;
	width: 150px;
	height: 30px;
    background: #FF5D50;
    color: white;
	font-size: 16px;
	font-weight: 900;
    border-radius: 45px;
    padding-top:10px;
    text-align: center;
    
}

.planlogo a{
    text-decoration: none;
    color: white;

    
}

.toplogo{
    display:flex;
    justify-content:space-between;
     
}
/* chat robot圖文在這一層 */
.top-background{
    z-index: -2;
    width: 850px;
    height: 120%;
    position: absolute;
    top: 0;
    right: 0;
    /* background-color: aqua; */
    /* margin-left:235px;
    margin-right:-140px;
    margin-top: -95px; */
    /* left: 516px;
    width: 851px;
    height: 768px; */
    /* background-size:cover; */
      /* right: 0px; */
    background-repeat:no-repeat;
    background-image: url('chatTalker_images/bg_home.svg') ;
    /* background-position: top right; */
   
    
}
.chatrobot-combine{
    position: relative;
    /* max-width: 100%;
    height:524px; */
    display: flex;
    /* justify-content: space-between; */
}

.chatrobot-photo{
    width: 100%;
    height:524px;
    background-image: url('chatTalker_images/home.svg');
    background-repeat:no-repeat;
    background-position: right;
}
.chatrobot-combine h2{
    position: relative;
 padding-top:158px;
 padding-bottom: 8px;
 font-weight: bold;
    color: #56C4C5;

}
.chatrobot-combine p{
    position: relative;
    /* padding-left: -10px;
    width: 432px; */
    font-size: 48px;
    padding-top: 8px;
    line-height: 60px;
    padding-bottom: 8px;
    font-weight: bold;
    
   }

.chatrobot-combine h3{
    padding-top:20px;
    color: #221E1F;
    font-weight: bold;
}
/*背景圓形左邊*/
.hero-ball{
    position: absolute;
    width:360px;
    height:360px;
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/ball01.svg');
    top:calc(100vh - 250px);
    
  /*   right:-200px; 這個方法雖然也可以達到半圓但會產生x軸，所以我們不改方向，我們改這個圖Div的寬度 */
    left:0px;/*靠左*/
  /*   width:180px;圖片顯示寬 */
  background-position: right;
  
   width:180px;/*圖片顯示寬*/
   z-index: -1;
   
  }
  
  .social-para p{
    box-sizing: border-box;
  padding-top:5%;
  text-align:center;
  font-size:32px;
  font-weight:bold;
}
.social-3 ul{
   box-sizing: border-box;
  padding-top:5%;
  display:flex;
  justify-content:space-around;
  text-align:center;
  
}
.social-3 ul li img{
  width:15%;
  box-sizing: border-box;
  padding-bottom:5%;
 
}
.socialName{
   box-sizing: border-box;
  padding-top:1%;
  font-size:24px;
  font-weight:bold;
   padding-bottom:5%;
}
.socialPara{
  position:relative;
   box-sizing: border-box;
  padding-top:2%;
  font-size:16px;
  width:80%;
  text-align:center;
  padding-left:15%;
  padding-bottom:5%;
}
/* 任何腳色我都能給，下面 */
/*role*/
.role-para h2{
    font-size:32px;
    font-weight:bold;
    text-align:center;
    box-sizing: border-box;
    padding-top:5%;
  }
  .role-para .roleMainP{
    box-sizing: border-box;
    font-size:20px;
   text-align:center;
   padding-top:3%;
    padding-bottom:5%;
  }
  .role-para ul li img{
  /*   width:25%; */
    box-sizing: border-box;
    padding-bottom:1%;
    border-radius:10px 10px 0px 0px;
    /*上下左右*/
  }
  .role-para ul{
     position:relative;
  /*    width:100%; */
    display:flex;
    gap:16px;
   
  }
  .roleName{
  /*   width:25%; */
    box-sizing: border-box;
    font-size:16px;
    color:#56C4C5;
    text-align:center;
    padding-top:5%;
    padding-bottom:5%;
    font-weight:bold;
    
  }
  .roleP{
  /*    width:25%; */
    box-sizing: border-box;
    font-size:16px;
    text-align:center;
    padding-bottom:5%;
    padding-left:5%;
    padding-right:5%;
    color:#221E1F;
  }
/*data-pool*/

data-pool{
    /* display: flex; */
    width: 1039px;
    height: 588px;
    
}
.data-card{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* background-color:yellow; test*/
}
.data-card ul{
    /* width: 507px; */
    /* height: 588px; */
    display: flex;
    flex-wrap: wrap;
    gap:30px;
  
  
}

.data-item{
    padding-top:10px;
    width: 230px;
    height: 280px;
    box-shadow: 0px 2px 10px;
    /* background-color:lightblue; */
    border-radius:20px;
    text-align: center;
}


.arrow-photo{
  width: 86px;
  height: 86px;
  margin-left: 70px;
  margin-bottom: 30px;
  background-position:center;
  background-repeat:no-repeat;
  border-radius:45%;
  box-shadow: 0px 2px 10px rgb(147,125,70);/*水平、垂直、模糊狀態、顏色*/
  box-shadow: 0px 2px 10px rgba(147,125,70,0.1);/*水平、垂直、模糊狀態、顏色、透明度*/
  background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon01.svg');
 
}
.arrow-photo p{
    font-size: 16px;
}

  .bulb-photo{
    width: 86px;
    height: 86px;
    margin-left: 70px;
    margin-bottom: 30px;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:45%;
    box-shadow: 0px 2px 10px rgb(147,125,70);/*水平、垂直、模糊狀態、顏色*/
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon02.svg');
   
  }
  .msg-photo{
    width: 86px;
    height: 86px;
    margin-left: 70px;
    margin-bottom: 30px;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:45%;
    box-shadow: 0px 2px 10px rgb(147,125,70);/*水平、垂直、模糊狀態、顏色*/
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon03.svg');
   
  }
  .msgG-photo{
    width: 86px;
    height: 86px;
    margin-left: 70px;
    margin-bottom: 30px;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:45%;
    box-shadow: 0px 2px 10px rgb(147,125,70);/*水平、垂直、模糊狀態、顏色*/
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon04.svg');
   
  }
  .data-des .planlogoGreen{
    
    margin: 20px 0;
	
	height: 30px;
    /* background: #747474; */
    color: white;
	font-size: 16px;
	font-weight: 900;   
    
    padding-top:10px;
    
    
    
    /* margin-left: 650px; */
    
}
.data-des .planlogoGreen a{
    padding: 20px 40px;/*上下  左右*/
    text-decoration: none;
    background: #56C4C5;
    border-radius: 45px;
    color: white;
    text-align: left;
    
}
  .data-des{
    position: relative;
    padding-top:165px;
    /* width:395px; */
    /* padding-left:25px; */
  }
  .data-des h2{
    position: relative;
    font-size:32px;
    font-weight:bold;
    padding-right:50px;
    
    margin-bottom:20px;
  }
  .data-des p{
    position: relative;
    font-size:18px;
    color: #221E1F;
   padding-right:50px;
   
   line-height:23px;
 }

 /* .comment-main2{
     display: none;
 } */
 .comment-title{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding-bottom:100px;
}
 .comment-item ul{/*還是有X軸*/
    margin: auto; /*加了這個三張框框就會自動調整內部*/
     /* max-width: 1088px; /*這還沒調整最佳，先拿掉 */
     position: relative;
     display: flex;
     gap:16px;
     /* background-color: antiquewhite; */
     justify-content: space-around;
   
     
 }
 .comment-sub{
     position: relative;
    background-color:pink;
   
    border-radius: 10px;
     /* width: 352px;
     height: 304px; */
     margin-bottom: 10px;
     
     
 }
/*.comment-sub-wrap  多包這一層 還是有出現X軸拖拉的時候*/
  .comment-sub-wrap{
    position: relative;
   padding-left:32px;
   padding-right:32px;
    background-color:lightgreen;
    height: 248px;
    box-shadow: 0px 2px 10px rgb(147,125,70); 
    } 
.comment-sub-wrap p{
    position: relative;
  padding-top:48px;
   font-size:16px;
  font-weight:regular;
  color:#221E1F;
  line-height:22px;
}
.comment-sub-wrap h3{
    position: relative;
  font-weight:bold;
  font-size:16px;
  padding-top:24px;
}
.comment-border{
/*   margin-left:10px;
  margin-right:10px; */
border: 1px solid #DDDDDD;

}
.comment-sub-wrap h4{
    position: relative;
  padding-top:8px;
  font-weight:regular;
  color:#221E1F;
  font-size:16px;
 
}
.cmt-photo-fm1-1{
    /* left:380px; */
    /* top:2400px; */
    /* left:80px; */
    top:-60px;
    /* z-index: 9; */
    position:absolute;
   
    width: 80px;
    height: 80px;
    border-radius: 45%;
    background-size: cover;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/user01.jpg');
    
 }
.cmt-photo-fm1-2{
  /* background-color:blue; */
  position:relative;
  bottom:20px;
  /* left:180px; */
  /* margin-left: 180px; */ /*會有X軸 所以用relative代替*/
  width:104.8px;
  height:20px;
  background-size:contain;
  background-image: 
url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon_star.svg');
}

 .cmt-photo-fm2-1{      
    
    /* z-index: 9; */
    position:absolute;
    /* left:580px; */
    top:-60px;
    width: 80px;
    height: 80px;
    border-radius: 45%;
    background-size: cover;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/user02.jpg');
 }
 .cmt-photo-fm2-2{
    /* background-color:blue; */
    position:relative;
    bottom:20px;
    /* left:180px; */
    /* margin-left: 180px; */
    width:104.8px;
    height:20px;
    background-size:contain;
    background-image: 
  url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon_star.svg');
  }

 .cmt-photo-fm3-1{
   /* z-index: 9; */
    position:absolute;
    /* left:1380px;
    top:2400px; */
    /* left:1020px; */
    top:-50px;
    width: 80px;
    height: 80px;
    border-radius: 45%;
    background-size: cover;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/user03.jpg');
 }
 
 .cmt-photo-fm3-2{
    /* background-color:blue; */
    position:relative;
    bottom:20px;
    /* margin-left: 180px; */
    width:104.8px;
    height:20px;
    background-size:contain;
    background-image: 
  url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon_star.svg');
  }
  .wrapStar-h4{
      position: relative;
      display: flex;
      justify-content: space-around;
  }
  .dot-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* padding-bottom: 10px; */
  }
  .comment-main .dot{
    /* position:relative;  */

    width: 10px;
    height: 10px;
    text-decoration: none;
    background: #DDDDDD;
    border-radius: 45px;
   /* text-align: center; */
  


    
  }
.footer-banner {
    max-width: 100%;
    
    height: 503px;  
    background-image: url('chatTalker_images/home_footer.svg');
    /* background-repeat: repeat-x;
    /*repeat-x 跟 contain也能滿版意思是重複x軸這張圖，另外這個height: 503px;PC height*/
    /* background-size: contain; */ 
    /*老師使用了no repeat 採用cover整張照片*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  
    
}
.footer-banner  p{
    /* top: 5000px; */
/* top: 3391px; */
/* left: 471px; */
/* background-color: antiquewhite; */

    /* width: 424px; */
/* height: 46px; */
text-align: center;
font: normal normal bold 32px/46px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
padding-top: 320px;
/* padding-top: 300px;
padding-left: 500px;
padding-right: 461px; */
}

.f-p-btn h2{
    
    margin: 20px 0;
	
	height: 30px;
    /* background: #747474; */
    color: white;
	font-size: 16px;
	font-weight: 900;   
    
    padding-top:10px;
    text-align: center;
    
}
.f-p-btn a{
   
    padding: 20px 40px;/*上下  左右*/
    text-decoration: none;
    background: #56C4C5;
    border-radius: 45px;
    color: white;
    text-align: center;
}
.footer .paragraph{
    /* position: relative; */
    background: #F5F5F5;
    text-align: center;
}
/***********************************************/
@media(max-width:768px){
   
   .toplogo-detail{
    /* background-color: aqua; */
    
     max-width: 60%;
   }
    
   .planlogo{
       position: relative;
	    margin: 0auto;;
	  
}
.chatrobot-combine{
    position: relative;
    display:flex;
    flex-direction: column;
   
}

     .top-background { 
         position: relative;
        margin: 0auto;
        /* background-size: 50%; */
        /* position: relative; */
        padding: 20px;
        /* background-position: right 12%;
        left: 180px;; */
         width:75%;
        height: 280px;
        top: -400px;
        /* left:180px; */
        background-size: contain;
        /*padding-bottom: 400px;*/
        background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/bg_home_sm.svg');
        /* background-image:none; */

    }
    
  .hero-ball{
      /* position: absolute; */
       position: absolute;
      /* width:360px; */
      height:126px;
      background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/ball01.svg');
      /* top:380px; */
      /* left:0px;靠右 */
     /* width:180px; */
     width: calc(100%-180px);
     background-size: contain;
     background-repeat: no-repeat;
     
     /* top:109vh; */
     /* top:173vh; */
     top:215vh;
     left: -120px;
 }
 .social-3 ul{
    display:flex;
    flex-direction:column;
    text-align:center;
  }
  .role-para ul{
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    padding-left:5%;
    padding-right:5%;
  }
  .roleMainP{
    box-sizing: border-box;
    padding-left:5%;
    padding-right:5%;
  }
    /* .data-item{
        margin-bottom: 20px;
    } */
    /* .footer-banner{
        
        top: 500px;
        background-image: url('chatTalker_images/footer_sm.svg');
       
        width: 375px;
        height: 461px;
    } */
    .data-card{
        position: relative;
        display:flex;
        flex-direction: column-reverse;
        padding-left: 25%;
       
    }
    .data-card ul{
        position: relative;
        display: flex;
        flex-direction: column;
        gap:16px;
      
    }
    .data-des> .planlogoGreen{
        padding-left: 20%;
    }
    .comment-main ul{
        position: relative;
        display: flex;
        flex-direction: column;
        
    }
    /* .comment-main2{
        display: flex;
        flex-direction: column;
        
    } */
  .comment-sub-wrap{
     position: relative; 
  }
  
    /* .cmt-photo-fm1-1{
        z-index: 1  ;
        position: relative;
        position:absolute;
        top:-40px;
        
        } */
     
      /*.cmt-photo-fm2-1{
         display: none;
        left:300px;
        top:5200px;
        
     }*/
     /*.cmt-photo-fm3-1{
        display: none;
        left:400px;
        top:5200px;
        
     } */
     

    .footer .paragraph{
        /* position: relative; */
        background: #F5F5F5;
        text-align: center;
    }
}