.container{
    max-width: 1088px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 15px 50px;
    

}
.planlogo{
    margin: 20px 0;
	width: 150px;
	height: 30px;
    background: #FF5D50;
    color: white;
	font-size: 16px;
	font-weight: 900;
    border-radius: 45px;
    padding-top:10px;
    text-align: center;
}

.planlogo a{
    text-decoration: none;
    color: white;
    
    
    
}

.toplogo{
    display:flex;
    justify-content:space-between;
}
.role4 ul li img{
    width: 100%;
    
}
.role4 ul{
    /*width: 100px;*/
    display: flex;
     flex-wrap: wrap;
    background-color: yellow;
   /* justify-content: space-between;*/
    

}


.footer-banner {
    /*max-width: 100%;*/
    padding-top: 290px;
    height: 503px;  
    background-image: url('chatTalker_images/footer_sm.svg');
    background-repeat: no-repeats;
    /*height: 503px;PC height*/
    background-size: cover;
    background-position: center;
    position: relative;
    
    
    
    
}
.footer-banner .container p{
top: 3391px;
left: 471px;
width: 424px;
height: 46px;
text-align: center;
font: normal normal bold 32px/46px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
opacity: 1;
padding-top: 260px;
padding-left: 351px;
padding-right: 471px;
}
.planlogoGreen{
    margin: 20px 0;
	width: 150px;
	height: 30px;
    background: #56C4C5;
	font-size: 16px;
	font-weight: 900;
    border-radius: 45px;
    padding-top:10px;
    text-align: center;
    text-decoration: none;
    margin-left: 480px;
    
}
.planlogoGreen a{
    text-decoration: none;
    color: white;
    
}
@media(max-width:767px) {
     
    .footer-banner{
        padding-top: 260px;
        height: 461px;
    }
}
.footer{
    background: #F5F5F5;
    text-align: center;
}