.container{
    max-width: 1388px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 15px 50px;
    

}
.planlogo{
    margin: 20px 0;
	width: 150px;
	height: 30px;
    background: #FF5D50;
    color: white;
	font-size: 16px;
	font-weight: 900;
    border-radius: 45px;
    padding-top:10px;
    text-align: center;
    
}

.planlogo a{
    text-decoration: none;
    color: white;

    
}

.toplogo{
    display:flex;
    justify-content:space-between;
     
}
/* chat robot圖文在這一層 */
.top-background{
    background-repeat:no-repeat;
    background-image: url('chatTalker_images/bg_home.svg');
    background-position: top right;
}
.chatrobot-combine{
    max-width: 100%;
    height:524px;
    display: flex;
    background-image: url('chatTalker_images/home.svg');
    justify-content: space-between;
    background-repeat:no-repeat;
    background-position: right;
}
.chatrobot-combine h2{
 padding-top:158px;
 padding-bottom: 8px;
 font-weight: bold;
    color: #56C4C5;

}
.chatrobot-combine p{
    padding-left: -10px;
    width: 432px;
    font-size: 48px;
    padding-top: 8px;
    line-height: 60px;
    padding-bottom: 8px;
    font-weight: bold;
    
   }

.chatrobot-combine h3{
    padding-top:20px;
    color: #221E1F;
    font-weight: bold;
}
/*背景圓形左邊*/
.hero-ball{
    position: absolute;
    width:360px;
    height:360px;
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/ball01.svg');
    top:calc(100vh - 250px);
    
  /*   right:-200px; 這個方法雖然也可以達到半圓但會產生x軸，所以我們不改方向，我們改這個圖Div的寬度 */
    left:0px;/*靠左*/
  /*   width:180px;圖片顯示寬 */
  background-position: right;
  
   width:180px;/*圖片顯示寬*/
   z-index: -1;
   
  }
  @media(max-width:768px){
      .top-background{
          /* width:334px;
          height: 244.79px; */
          padding-bottom: 400px;
          background-image: url('file:///C:/Users/user/Documents/GitHub/WinCss/hexSchool/chatTalker_images/bg_home_sm.svg');
      }
    .hero-ball{
        position: absolute;
        width:360px;
        height:360px;
        background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/ball01.svg');
        top:380px;
        left:0px;/*靠右*/
       width:180px;
       top:109vh;
      }
   
  }
  .social-three{
      margin-top: 101px;
      margin-bottom: 100px;
  }
  .social-three p {
    
    height: 46px;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    text-align: center;
        
        
  }
  .social-three ul{
    display:flex;
    justify-content: space-around;
   
     
    }
    .fb{
        width:224px;
        height: 221px;
    
    }
    .fb .fb-photo{
        text-align: center;
    }
   
.fb h2{
  
    text-align: center;
    font: normal normal bold 24px/35px Noto Sans TC;
    letter-spacing: 0px;
}
.fb p{
    top: 1136px;
left: 201px;
width: 228px;
height: 48px;
/* UI Properties */
text-align: center;
font: normal normal normal 16px/24px Noto Sans TC;
letter-spacing: 0px;
color: #747474;
}
.fb-photo {
    margin-top:24px;
    margin-bottom:24px;
    margin-left:77px;
    margin-right:77px;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/messenger.svg');
       
}
.line-photo{
    margin-top:24px;
    margin-bottom:24px;
    margin-left:77px;
    margin-right:77px;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/line.svg');
}
    
.ig-photo{
    margin-top:24px;
    margin-bottom:24px;
    margin-left:77px;
    margin-right:77px;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/instagram.svg');
}

/* 任何腳色我都能給，下面 */
.role4 ul li img{
    width: 100%;
    
}
.role4 ul{
    /*width: 100px;*/
    display: flex;
    background-color: yellow;
   /* justify-content: space-around; */
   gap:16px;
      

}
.role4 img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.role-item{
    width: 25%;
    height: 25%;
    text-align: center;
    
    
}
.role-title{
 font-size: 32px;
 font-family: Noto Sans TC;
 font-weight:800;
 text-align: center;
}

.role-p{
    font-size: 20px;
    font-family: Noto Sans TC;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:580;
}
.role-item h2{
    color:#56C4C5;
    padding-top: 10px;
    padding-left:16px;
    padding-right:16px;

}
.role-item p{
    color:#221E1F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:16px;
    padding-right:16px;
}
/*data-pool*/

data-pool{
    /* display: flex; */
    width: 1039px;
    height: 588px;
    
}
.data-card{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* background-color:yellow; test*/
}
.data-card ul{
    width: 507px;
    height: 588px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
  
  
}

.data-item{
    padding-top:10px;
    width: 230px;
    height: 280px;
    box-shadow: 0px 2px 10px;
    /* background-color:lightblue; */
    border-radius:20px;
    text-align: center;
}


.arrow-photo{
  width: 86px;
  height: 86px;
  margin-left: 70px;
  margin-bottom: 30px;
  background-position:center;
  background-repeat:no-repeat;
  border-radius:45%;
  box-shadow: 0px 2px 10px rgb(147,125,70);/*水平、垂直、模糊狀態、顏色*/
  background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon01.svg');
 
}
.arrow-photo p{
    font-size: 16px;
}

  .bulb-photo{
    width: 86px;
    height: 86px;
    margin-left: 70px;
    margin-bottom: 30px;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:45%;
    box-shadow: 0px 2px 10px rgb(147,125,70);/*水平、垂直、模糊狀態、顏色*/
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon02.svg');
   
  }
  .msg-photo{
    width: 86px;
    height: 86px;
    margin-left: 70px;
    margin-bottom: 30px;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:45%;
    box-shadow: 0px 2px 10px rgb(147,125,70);/*水平、垂直、模糊狀態、顏色*/
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon03.svg');
   
  }
  .msgG-photo{
    width: 86px;
    height: 86px;
    margin-left: 70px;
    margin-bottom: 30px;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:45%;
    box-shadow: 0px 2px 10px rgb(147,125,70);/*水平、垂直、模糊狀態、顏色*/
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/icon04.svg');
   
  }
  .data-des .planlogoGreen{
    
    margin: 20px 0;
	
	height: 30px;
    /* background: #747474; */
    color: white;
	font-size: 16px;
	font-weight: 900;   
    
    padding-top:10px;
    
    
    
    /* margin-left: 650px; */
    
}
.data-des .planlogoGreen a{
    padding: 20px 40px;/*上下  左右*/
    text-decoration: none;
    background: #56C4C5;
    border-radius: 45px;
    color: white;
    text-align: left;
    
}
  .data-des{
    padding-top:165px;
    width:395px;
    padding-left:25px;
  }
  .data-des h2{
    font-size:32px;
    font-weight:bold;
    padding-right:50px;
    
    margin-bottom:20px;
  }
  .data-des p{
    font-size:18px;
    color: #221E1F;
   padding-right:50px;
   
   line-height:23px;
 }
 
.comment-title{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    
}
 .comment-item ul{
     display: flex;
     gap:16px;
     /* background-color: antiquewhite; */
     justify-content: space-around;
     
 }
 .comment-sub{
    
    border-radius: 10px;
     width: 352px;
     height: 304px;
     margin-bottom: 100px;
     
 }

 .comment-sub-wrap{
     
     width: 352px;
     height: 248px;
    box-shadow: 0px 2px 10px rgb(147,125,70);
   
 }
.cmt-photo-fm1-1{
    z-index: 9;
    top:0px;
    width: 80px;
    height: 80px;
    border-radius: 45%;
    background-size: cover;
    background-image: url('chatTalker_images/user01.jpg');
    
 }
 .cmt-photo-fm2-1{
    width: 80px;
    height: 80px;
    border-radius: 45%;
    background-size: cover;
    background-image: url('chatTalker_images/user02.jpg');
 }

 .cmt-photo-fm3-1{
    width: 80px;
    height: 80px;
    border-radius: 45%;
    background-size: cover;
    background-image: url('chatTalker_images/user03.jpg');
 }
.footer-banner {
    max-width: 100%;
    
    height: 503px;  
    background-image: url('chatTalker_images/home_footer.svg');
    /* background-repeat: repeat-x;
    /*repeat-x 跟 contain也能滿版意思是重複x軸這張圖，另外這個height: 503px;PC height*/
    /* background-size: contain; */ 
    /*老師使用了no repeat 採用cover整張照片*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  
    
}
.footer-banner .container p{
top: 3391px;
left: 471px;
/* background-color: antiquewhite; */
    /* width: 424px; */
/* height: 46px; */
text-align: center;
font: normal normal bold 32px/46px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
opacity: 1;
padding-top: 300px;
padding-left: 500px;
padding-right: 461px;
}
.f-p-btn h2{
    
    margin: 20px 0;
	
	height: 30px;
    /* background: #747474; */
    color: white;
	font-size: 16px;
	font-weight: 900;   
    
    padding-top:10px;
    text-align: center;
    
}
.f-p-btn a{
   
    padding: 20px 40px;/*上下  左右*/
    text-decoration: none;
    background: #56C4C5;
    border-radius: 45px;
    color: white;
    text-align: center;
}

@media(max-width:767px) {
     
    .footer-banner{
        background-image: url('chatTalker_images/footer_sm.svg');/*換成小版的圖片*/
        padding-top: 260px;
        height: 461px;
    }
}


.footer{
    background: #F5F5F5;
    text-align: center;
}