.container{
    max-width: 1388px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 15px 50px;
    

}
.planlogo{
    margin: 20px 0;
	width: 150px;
	height: 30px;
    background: #FF5D50;
    color: white;
	font-size: 16px;
	font-weight: 900;
    border-radius: 45px;
    padding-top:10px;
    text-align: center;
    
}

.planlogo a{
    text-decoration: none;
    color: white;

    
}

.toplogo{
    display:flex;
    justify-content:space-between;
     
}
/* chat robot圖文在這一層 */
.top-background{
    background-repeat:no-repeat;
    background-image: url('chatTalker_images/bg_home.svg');
    background-position: top right;
}
.chatrobot-combine{
    max-width: 100%;
    height:524px;
    display: flex;
    background-image: url('chatTalker_images/home.svg');
    justify-content: space-between;
    background-repeat:no-repeat;
    background-position: right;
}
.chatrobot-combine h2{
 padding-top:158px;
 padding-bottom: 8px;
 font-weight: bold;
    color: #56C4C5;

}
.chatrobot-combine p{
    padding-left: -10px;
    width: 432px;
    font-size: 48px;
    padding-top: 8px;
    line-height: 60px;
    padding-bottom: 8px;
    font-weight: bold;
    
   }

.chatrobot-combine h3{
    padding-top:20px;
    color: #221E1F;
    font-weight: bold;
}
/*背景圓形左邊*/
.hero-ball{
    position: absolute;
    width:360px;
    height:360px;
    background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/ball01.svg');
    top:calc(100vh - 250px);
    
  /*   right:-200px; 這個方法雖然也可以達到半圓但會產生x軸，所以我們不改方向，我們改這個圖Div的寬度 */
    left:0px;/*靠左*/
  /*   width:180px;圖片顯示寬 */
  background-position: right;
  
   width:180px;/*圖片顯示寬*/
   z-index: -1;
   
  }
  @media(max-width:768px){
    .hero-ball{
        position: absolute;
        width:360px;
        height:360px;
        background-image:url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/ball01.svg');
        top:380px;
        left:0px;/*靠右*/
       width:180px;
       top:109vh;
      }
   
  }
  .social-three{
      margin-top: 150px;
  }
  .social-three p {
    
    height: 46px;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    text-align: center;
        
        
  }
  .social-three ul{
    display:flex;
    justify-content: space-around;
   
     
    }
.fb{
    width: 90px;
    height: 90px;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/messenger.svg');
}
.line{
    width: 90px;
    height: 90px;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/line.svg');
}
    
.ig{
    width: 90px;
    height: 90px;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/Ceckmateeeee21/hexSchool/main/chatTalker_images/instagram.svg');
}

/* 任何腳色我都能給，下面 */
.role4 ul li img{
    width: 100%;
    
}
.role4 ul{
    /*width: 100px;*/
    display: flex;
    background-color: yellow;
   /* justify-content: space-around; */
   gap:16px;
      

}
.role4 img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.role-item{
    width: 25%;
    height: 25%;
    text-align: center;
    
    
}
.role-title{
 font-size: 32px;
 font-family: Noto Sans TC;
 font-weight:800;
 text-align: center;
}

.role-p{
    font-size: 20px;
    font-family: Noto Sans TC;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight:580;
}
.role-item h2{
    color:#56C4C5;
    padding-top: 10px;
    padding-left:16px;
    padding-right:16px;

}
.role-item p{
    color:#221E1F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:16px;
    padding-right:16px;
}

.footer-banner {
    max-width: 100%;
    
    height: 503px;  
    background-image: url('chatTalker_images/home_footer.svg');
    /* background-repeat: repeat-x;
    /*repeat-x 跟 contain也能滿版意思是重複x軸這張圖，另外這個height: 503px;PC height*/
    /* background-size: contain; */ 
    /*老師使用了no repeat 採用cover整張照片*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
    
    
    
}
.footer-banner .container p{
top: 3391px;
left: 471px;
width: 424px;
height: 46px;
text-align: center;
font: normal normal bold 32px/46px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
opacity: 1;
padding-top: 300px;
padding-left: 500px;
padding-right: 471px;
}
.planlogoGreen{
    margin: 20px 0;
	width: 136px;
	height: 30px;
    background: #56C4C5;
	font-size: 16px;
	font-weight: 900;
    border-radius: 45px;
    padding-top:10px;
    text-align: center;
    text-decoration: none;
    margin-left: 650px;
    
}
.planlogoGreen a{
    text-decoration: none;
    color: white;
    
}
@media(max-width:767px) {
     
    .footer-banner{
        background-image: url('chatTalker_images/footer_sm.svg');/*換成小版的圖片*/
        padding-top: 260px;
        height: 461px;
    }
}
.footer{
    background: #F5F5F5;
    text-align: center;
}